---
title: "Wesley Clements: Blog"
---

<ul class="mx-auto w-fit divide-y-2 divide-gray-300 px-4 py-4 text-gray-900">
  {{ for post of search.pages("url^=/blog/ url!=/blog/") }}
  <li class="box-content max-w-prose px-16 pb-2 pt-4 first:pt-0">
    <a class="underline hover:text-cyan-600" href="{{ post.url }}">
      <h3 class="text-2xl">{{ post.title }}</h3>
    </a>
  </li>
  {{ /for }}
</ul>
