.header-img {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	margin: 2px 0px;
}
.header-img:hover {
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px;
}

.header-name {
	text-decoration: none;
}
.header-name:visited {
	text-decoration: none;
}
.header-name:hover {
	text-decoration: none;
	color: #222;
}

.header-description {
	font-size: 1.5rem;
}

.bio-text {
	line-height: 1.8rem;
}

.contact-link {
	text-decoration: none;
}
.contact-link:hover {
	text-decoration: none;
	color: #0096cc;
}

.footer-link {
	text-decoration: none;
}
.footer-link:hover {
	text-decoration: none;
	color: #0074d9;
}
.dark-grey {
	color: #111;
}

.grey {
	color: #6c757d;
}
