@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  .shiki-light {
    @apply hidden;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  .shiki-dark {
    @apply hidden;
  }
}

.shiki {
  @apply my-4 overflow-x-auto rounded-lg p-4;

  scrollbar-color: var(--shiki-scrollbar-color) transparent;

  &.shiki-light {
    --shiki-scrollbar-color: rgba(0, 0, 0, 0.5);

    &::hover {
      --shiki-scrollbar-color: rgba(0, 0, 0, 0.7);
    }
  }

  &.shiki-dark {
    --shiki-scrollbar-color: rgba(255, 255, 255, 0.5);

    &::hover {
      --shiki-scrollbar-color: rgba(255, 255, 255, 0.7);
    }
  }

  @media (width < 1040px) {
    & {
      @apply rounded-none;
    }
  }
}
